########################################
# ARQUIVO PRICIPAL DA IMPRESSORA
########################################
# Esse arquivo só chama a configuração principal da impressora a partir
# da pasta da placa. Desse jeito fica mais fácil de modularizar tudo.

[include mainsail.cfg] # Precisa ser adicionado pra entender determinados comandos
[include printer_config/00_Main.cfg] # Importa o arquivo main da placa utilizada