########################################
# CONTROLADORAS
########################################

# PRIMÁRIA - SKR 1.4 TURBO
[mcu]
serial: /dev/serial/by-id/usb-Klipper_lpc1769_22100018A9846AAFD7FF545EC32000F5-if00

# SECUNDÁRIA - MKS GEN 1.4
[mcu mks_gen]
serial: /dev/serial/by-id/usb-FTDI_FT232R_USB_UART_AC01KOU5-if00-port0

# TERCIÁRIA - EBB CAN
[mcu EBBCan]
canbus_uuid: 5dac7a4f1f46

# QUARTA - BTTPi
[mcu BTTPi]
serial: /tmp/klipper_host_mcu

########################################
# DEFINIÇÃO DOS PINOUTS
########################################
[include Macros/00_Main_macros.cfg]
[include 01_Movimentacao.cfg]
[include 02_Extrusora.cfg]
[include 03_Drivers.cfg]
[include 04_Cama_aquecida.cfg]
[include 05_Bed_mesh.cfg]
[include 06_Quad_bed_leveling.cfg]
[include 07_Neopixels.cfg]
[include 08_Input_shaper.cfg]

[include Probe/Klicky Probe/1_klicky-probe.cfg]
[include Probe/1_Probe.cfg]


[printer]
kinematics: corexy
max_velocity: 1000
max_accel: 20000
max_z_velocity: 15  #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 600
square_corner_velocity: 5.0

[exclude_object]

[pause_resume]

[skew_correction]

[skew_correction Calilantern_19_05_2026]
xy_skew = -0.0013408388462281178
xz_skew = -0.0029546616028889115
yz_skew = 0.00016760564150433767

[skew_correction Calilantern_20_05_2026]
xy_skew = -0.0007078157189302232
xz_skew = -0.0029882504533517143
yz_skew = 3.394123714988101e-05

