########################################
# CONTROLADORAS
########################################

# PRIMÁRIA - SKR 1.4 TURBO
[mcu]
serial: /dev/serial/by-id/usb-Klipper_lpc1769_22100018A9846AAFD7FF545EC32000F5-if00

# SECUNDÁRIA - MKS GEN 1.4
[mcu mks_gen]
serial: /dev/serial/by-id/usb-FTDI_FT232R_USB_UART_AC01KOU5-if00-port0

# TERCIÁRIA - EBB CAN
[mcu EBBCan]
canbus_uuid: 5dac7a4f1f46

# QUARTA - BTTPi
[mcu BTTPi]
serial: /tmp/klipper_host_mcu

########################################
# DEFINIÇÃO DOS PINOUTS
########################################
[include Macros/00_Main_macros.cfg]
[include 01_Movimentacao.cfg]
[include 02_Extrusora.cfg]
[include 03_Drivers.cfg]
[include 04_Cama_aquecida.cfg]
[include 05_Bed_mesh.cfg]
[include 06_Quad_bed_leveling.cfg]
[include 07_Neopixels.cfg]
[include 08_Input_shaper.cfg]

[include Probe/Klicky Probe/1_klicky-probe.cfg]
[include Probe/1_Probe.cfg]

# [virtual_sdcard]
# path: /home/jptrindade3/printer_data/gcodes
# on_error_gcode: CANCEL_PRINT

[printer]
kinematics: corexy
max_velocity: 600
max_accel: 12000
max_z_velocity: 15  #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0

[exclude_object]

[pause_resume]