[extruder]
step_pin: EBBCan: PD0
dir_pin: EBBCan: PD1
enable_pin: !EBBCan: PD2

microsteps: 64
# rotation_distance: 23.3195374
rotation_distance: 23.05136272
gear_ratio: 50:10 # BMG Nema pancake clockwerk 2
full_steps_per_rotation: 200	#200 for 1.8 degree, 400 for 0.9 degree

nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_only_distance: 100

heater_pin: EBBCan: PB13
sensor_type: EPCOS 100K B57560G104F
sensor_pin: EBBCan: PA3
control: pid

pid_Kp: 14.05
pid_Ki: 0.762
pid_Kd: 64.805

min_temp: 0
max_temp: 300

[fan]
pin: EBBCan: PA0

[heater_fan hotend_fan]
pin: EBBCan: PA1
heater: extruder
heater_temp: 50.0