#############################
# CONFIGURAÇÃO TMC2209 - EIXO X
#############################
# Referência: https://www.klipper3d.org/TMC_Drivers.html

[tmc2209 stepper_x]
uart_pin: P1.10
diag_pin: P1.29      # Set to MCU pin connected to TMC DIAG pin (Mesmo pino que o endstop desse motor)

# uart_pin: P1.8
# diag_pin: P1.29

# run_current: 1.000
# stealthchop_threshold: 999999 # Define operação como StealthChop (- preciso, - torque e + silencioso)
# interpolate: False # Considerando que operamos como Stealthchop
# driver_SGTHRS: 85

run_current: 1.500
stealthchop_threshold: 1 # Define operação como SpreadCicle (+ preciso, + torque e - silencioso)
interpolate: False # Desabilita a interpolação do driver (+ preciso e - silencioso). Compensado aumentando os microsteps. Caso esteja no modo StealthChop, pode deixar ativado.
driver_SGTHRS: 0  # 255 is most sensitive value, 0 is least sensitive



#############################
# CONFIGURAÇÃO TMC2209 - EIXO Y
#############################
[tmc2209 stepper_y]
uart_pin: P1.9
diag_pin: P1.28

# uart_pin: P1.4
# diag_pin: P1.28

# run_current: 1.700
# stealthchop_threshold: 999999 # Define operação como StealthChop (- preciso, - torque e + silencioso)
# interpolate: False # Considerando que operamos como Stealthchop
# driver_SGTHRS: 90

run_current: 1.500
stealthchop_threshold: 1 # Define operação como SpreadCicle (+ preciso, + torque e - silencioso)
interpolate: False # Desabilita a interpolação do driver (+ preciso e - silencioso). Compensado aumentando os microsteps. Caso esteja no modo StealthChop, pode deixar ativado.
driver_SGTHRS: 0



#############################
# CONFIGURAÇÃO TMC2209 - EXTRUSORA
#############################
[tmc2209 extruder]
uart_pin: EBBCan: PA15
run_current: 0.800
stealthchop_threshold: 1 # Define operação como SpreadCicle (+ preciso, + torque e - silencioso)
interpolate: False # Desabilita a interpolação do driver (+ preciso e - silencioso). Compensado aumentando os microsteps. Caso esteja no modo StealthChop, pode deixar ativado.