#############################
# CONFIGURAÇÃO TMC2209 - EIXO X
#############################
# Referência: https://www.klipper3d.org/TMC_Drivers.html

[tmc2209 stepper_x]
uart_pin: P1.10
diag_pin: P1.29      # Set to MCU pin connected to TMC DIAG pin (Mesmo pino que o endstop desse motor)

run_current: 1.8
hold_current: 0.8
stealthchop_threshold: 1 # Define operação como SpreadCicle (+ preciso, + torque e - silencioso)
interpolate: True # Desabilita a interpolação do driver (+ preciso e - silencioso). Compensado aumentando os microsteps. Caso esteja no modo StealthChop, pode deixar ativado.



#############################
# CONFIGURAÇÃO TMC2209 - EIXO Y
#############################
[tmc2209 stepper_y]
uart_pin: P1.9
diag_pin: P1.28

run_current: 1.8
hold_current: 0.8
stealthchop_threshold: 0 # Define operação como SpreadCicle (+ preciso, + torque e - silencioso)
interpolate: True # Desabilita a interpolação do driver (+ preciso e - silencioso). Compensado aumentando os microsteps. Caso esteja no modo StealthChop, pode deixar ativado.



#############################
# CONFIGURAÇÃO TMC2209 - EXTRUSORA
#############################
[tmc2209 extruder]
uart_pin: EBBCan: PA15
run_current: 0.800
stealthchop_threshold: 0 # Define operação como SpreadCicle (+ preciso, + torque e - silencioso)
interpolate: False # Desabilita a interpolação do driver (+ preciso e - silencioso). Compensado aumentando os microsteps. Caso esteja no modo StealthChop, pode deixar ativado.