########################################
# Bed mesh - bed leveling
########################################
[bed_mesh]
speed: 500 # Velocidade de movimento planar durante o probing
horizontal_move_z: 12 # Distância que o z sobre entre cada ponto
mesh_min: 25,25 # Posições XY minimas de onde o probe pode ocorrer (canto de posição 0)
mesh_max: 325,325 # Posições XY minimas de onde o probe pode ocorrer (canto oposto ao de posição 0)
probe_count: 3,3 # Quantos pontos nos eixos xy serão testados
mesh_pps: 2,2 # Quantos pontos serão calculados entre os pontos medidos para gerar a malha completa
algorithm: bicubic # Similar ao bilinear do Marlin
fade_start: 1
fade_end: 10
fade_target: 0