## https://github.com/VoronDesign/Voron-2/blob/Voron2.4/firmware/klipper_configurations/SKR_1.4/Voron2_SKR_14_Config.cfg
##  Use QUAD_GANTRY_LEVEL to level a gantry.
##  Min & Max gantry corners - measure from nozzle at MIN (0,0) and 
##  MAX (250, 250), (300,300), or (350,350) depending on your printer size
##  to respective belt positions
[quad_gantry_level]
#--------------------------------------------------------------------
#  Gantry Corners for 350mm Build
#  Uncomment for 350mm build
gantry_corners:
  -60,-10
  410,420
#  Probe points
points:
  50,25
  50,275
  300,275
  300,25

# #--------------------------------------------------------------------
speed: 300
horizontal_move_z: 20
retries: 5
# retry_tolerance: 0.0075
retry_tolerance: 0.1
max_adjust: 20