# #################
# # NEOPIXELS EBB36
# #################

[neopixel sb_leds]
pin: EBBCan:PD3
chain_count: 3
color_order: GRB
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0

[delayed_gcode welcome_0]
initial_duration: 0
gcode:
  SET_LED LED=sb_leds RED=0.0 GREEN=0.0 BLUE=0.0

[delayed_gcode welcome_1]
initial_duration: 0.5
gcode:
  SET_LED LED=sb_leds RED=1 GREEN=1 BLUE=1 INDEX=1
  SET_LED LED=sb_leds RED=1 GREEN=1 BLUE=1 INDEX=2
  SET_LED LED=sb_leds RED=1 GREEN=1 BLUE=1 INDEX=3


[gcode_macro sb_leds_OFF]
gcode:
  SET_LED LED=sb_leds RED=0.0 GREEN=0.0 BLUE=0.0

[gcode_macro sb_leds_ON]
gcode:
  SET_LED LED=sb_leds RED=1 GREEN=1 BLUE=1