#####################################################################
# 	CANCEL MACRO
#####################################################################
# https://ellis3dp.com/Print-Tuning-Guide/articles/useful_macros/pause_resume_filament.html#pause

[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
    SET_IDLE_TIMEOUT TIMEOUT={printer.configfile.settings.idle_timeout.timeout} ; set timeout back to configured value
    # SDCARD_RESET_FILE
    PRINT_END
    CLEAR_PAUSE
    # BASE_CANCEL_PRINT
