[gcode_macro BED_MESH_CALIBRATE]
rename_existing: BED_MESH_CALIBRATE_BASE
variable_old_accel: 0
variable_old_velocity: 0
gcode:
    # Salva valores atuais
    SET_GCODE_VARIABLE MACRO=BED_MESH_CALIBRATE VARIABLE=old_accel VALUE={printer.toolhead.max_accel}
    SET_GCODE_VARIABLE MACRO=BED_MESH_CALIBRATE VARIABLE=old_velocity VALUE={printer.toolhead.max_velocity}
    
    # Reduz para mesh
    SET_VELOCITY_LIMIT ACCEL=500 VELOCITY=100

    G28
    
    # Chama o comando original
    BED_MESH_CALIBRATE_BASE {rawparams}
    
    # Restaura
    SET_VELOCITY_LIMIT \
        ACCEL={printer["gcode_macro BED_MESH_CALIBRATE"].old_accel} \
        VELOCITY={printer["gcode_macro BED_MESH_CALIBRATE"].old_velocity}